In [1]:
import pandas as pd
import regex

In [2]:
df = pd.read_csv("titanic.csv", index_col="PassengerId")

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [4]:
df["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [5]:
round(df[df["Survived"] == 1].shape[0] / df.shape[0] * 100, 2)

38.38

Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [6]:
round(df[df["Pclass"] == 1].shape[0] / df.shape[0] * 100, 2)

24.24

Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [7]:
print("Среднее = ", df["Age"].mean())
print("Медиана = ", df["Age"].median())

Среднее =  29.69911764705882
Медиана =  28.0

Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [8]:
df[["SibSp","Parch"]].corr(method="pearson")

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [9]:
females = df[df["Sex"] == "female"]

In [10]:
females["Name"]

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [11]:
def get_name(value: str) -> str:

    match = regex.search("\((.+?)\)", value)
    if match:
        return match[1].split(" ")[0]
    
    name = value.split(", ")[1].split(" ")[1]
    return name

In [12]:
females["Name"].apply(get_name).describe()["top"]

'Anna'